/* global*/
.content-flex{
    display: flex;
}
.shadow{
    box-shadow: 1px 1px 10px 1px #cbc9c9;
}
.padding-2{
    padding-top: 10px;
    padding-bottom: 10px;
}
/* side bar */
.side-bar{
    padding: 20px;
    width: 20%;
    height: 100vh;
    border-right: 1px solid #cbc9c9;
}
.item-link{
    text-decoration: none;
    color: black;
    font-size: 22px;
    display: block;
    padding: 10px;
    transition: 0.1s;
}
.item-link:hover{
    background-color: #74afb9;
    border-radius: 12px;
}
.active{
    background-color: #74afb9;
    border-radius: 12px;
}
.fa-solid{
    color: #183153;
    margin-right: 10px;
}
/*table*/
table{
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}
tr:nth-child(even){
    background-color: #f1f7f8;
}
th,td{
    border: 1px solid #a0c8cf;
    padding: 12px;
}
th{
    background-color: #74afb9;
    color: white;
}
td{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}